<br>
<br>
<br>
<div class="row">
 <div class="row">
  <div class="input-field col s12">
    <input id="password" type="password" ng-model="codCambista" class="validate">
    <label for="password">Cd. Segurança Agente</label>
  </div>
    <div class="input-field col s12">
    <input id="password" type="password" ng-model="codAdm" class="validate">
    <label for="password">Cd. Segurança Adm</label>
  </div>
  <div class="input-field col s12">
    <button ng-click="acertar(); mostrarLoader();" class="btn right">ACERTAR</button>
  </div>
</div>
<div class="center" style="margin-top:100px;">
<div class="preloader-wrapper big active" ng-if=aux2>
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>


</div>
