<br>
<br>
<br>
<div class="row">
  <div id="print">
    <ul class="collection with-header">
     <li class="collection-header">
       <span class="title"><em id="texto10">BETSOCCER</em></span>
     </li>
     <li class="collection-header">
       <span class="title"><em id="texto3">Código: </em><em id="texto4">{{jsonComprovante.aposta.codigo}}&nbsp;&nbsp;</em></span>
     </li>
     <li class="collection-item">
      <p>
        <em id="texto3">&nbsp;Data Aposta : </em><em id="texto8">{{toData(jsonComprovante.aposta.data.date)}}&nbsp;&nbsp;</em><br> 
        <em id="texto3">&nbsp;Agente : </em><em id="texto8">{{jsonComprovante.cambista}}&nbsp;&nbsp;</em><br> 
        <em id="texto3">&nbsp;Apostador : </em><em id="texto8">{{jsonComprovante.aposta.apostador}}&nbsp;&nbsp;</em><br> 
        <em id="texto3">&nbsp;Valor Apostado : </em><em id="texto8">{{jsonComprovante.aposta.valor_apostado}}&nbsp;&nbsp;</em><br> 
        <em id="texto3">&nbsp;Retorno Possível : </em><em id="texto8">{{jsonComprovante.possivel_premio}}&nbsp;&nbsp;</em><br>
        <em id="texto3">&nbsp;Status Aposta : </em><em id="texto8">{{verificaStatusAposta(jsonComprovante.aposta.ativa)}}&nbsp;&nbsp;</em> 

      </p>
      <hr>
      <p ng-repeat="a in jsonComprovante.aposta.jogos">
        <em id="texto3">DATA:&nbsp;</em>{{toData(a.data)}}&nbsp;{{toHora(a.data)}}<br><em id="texto3">{{a.times[0].descricao_time}}&nbsp;</em><em id="texto7">{{a.resultado.r_casa}}</em>&nbsp;vs&nbsp;<em id="texto7">{{a.resultado.r_fora}}</em>&nbsp;<em id="texto3">{{a.times[1].descricao_time}}</em>
        <br><em id="texto3">&nbsp;Palpite:&nbsp;</em><em id="texto7">{{retornaPalpite(a.id)}}</em>&nbsp;<em id="texto3">&nbsp;Valor Palpite:&nbsp;</em><em id="texto7">{{retornaValorPalpite(a.id)}}</em>
      </p>
      <hr>
      <p>
        <em id="texto3">* Não pagaremos jogos ja realizados que por falha quaisquer que sejam continuem no sistema;</em><br>
        <em id="texto3">* Ticket válido por 8 dias;</em><br>
        <em id="texto3">* Ticket será pago em até 72 horas;</em><br>
        <em id="texto3">* Se o jogo não acontecer no prazo de 24 horas  da data e hora marcada ele será retirado e as apostas serão recalculadas.</em><br>
      </p>
    </li>
  </ul>
</div>
<div class="input-field col s6">
  <button ng-click="enviarWhatsApp()" class="btn right">WhatsApp</button>
</div>
<div class="input-field col s6">
 <button onclick="imprimirAposta()" class="btn right">Imprimir</button>
</div>


</div>
