
<div class="row">
  <div class="row " style="margin-top:55px;">
    <div class="col s12 ">
      <ul class="tabs pinned width">
      <li class="tab col s6 azul"><a href="#dadosGerais" class="active"><b id="teste4">Valores Gerais</b></a></li>
        <li class="tab col s6 vermelho"><a href="#dadosParciais"><b id="teste4">Valores a Acerta</b></a></li>
      </ul>
    </div>

    <div id="dadosGerais" class="col s12" style="margin-top:65px;" ng-show="teste">
      <table class="responsive-table"  ng-if="teste">
        <thead>
          <tr>
            <th data-field="name">Nome</th>
            <th data-field="price">Apostas</th>
            <th data-field="price">Qtd. Jogos</th>
            <th data-field="price">Comissão (2 jogos)</th>
            <th data-field="price">Comissão (3 +)</th>
            <th data-field="price">Comissão (5 +)</th>
            <th data-field="price">Comissão Total</th>
            <th data-field="price">Valor Total Apostado</th>
            <th data-field="price">Total Premiação</th>
            <th data-field="price">Líquido</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td>{{dados.com_abertas.cambista}}</td>
            <td>{{dados.com_abertas.qtd_apostas}}</td>
            <td>{{dados.com_abertas.qtd_jogos}}</td>
            <td>{{dados.com_abertas.comissao_simples}}</td>
            <td>{{dados.com_abertas.comissao_mediana}}</td>
            <td>{{dados.com_abertas.comissao_maxima}}</td>
            <td>{{dados.com_abertas.comissao_total}}</td>
            <td>{{dados.com_abertas.total_apostado}}</td>
            <td>{{dados.com_abertas.total_premiacao}}</td>
            <td>{{dados.com_abertas.liquido}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    

    <div id="dadosParciais" class="col s12" style="margin-top:65px;" ng-show="teste">
      <table class="responsive-table"  ng-if="teste">
        <thead>
          <tr>
            <th data-field="name">Nome</th>
            <th data-field="price">Apostas</th>
            <th data-field="price">Qtd. Jogos</th>
            <th data-field="price">Comissão (2 jogos)</th>
            <th data-field="price">Comissão (3 +)</th>
            <th data-field="price">Comissão (5 +)</th>
            <th data-field="price">Comissão Total</th>
            <th data-field="price">Valor Total Apostado</th>
            <th data-field="price">Total Premiação</th>
            <th data-field="price">Líquido</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td>{{dados.sem_abertas.cambista}}</td>
            <td>{{dados.sem_abertas.qtd_apostas}}</td>
            <td>{{dados.sem_abertas.qtd_jogos}}</td>
            <td>{{dados.sem_abertas.comissao_simples}}</td>
            <td>{{dados.sem_abertas.comissao_mediana}}</td>
            <td>{{dados.sem_abertas.comissao_maxima}}</td>
            <td>{{dados.sem_abertas.comissao_total}}</td>
            <td>{{dados.sem_abertas.total_apostado}}</td>
            <td>{{dados.sem_abertas.total_premiacao}}</td>
            <td>{{dados.sem_abertas.liquido}}</td>
          </tr>
        </tbody>
      </table>



    </div>
    <br><br><br>
    <a class="fixed-action-btn toolbar btn-floating btn-large green" data-target="modalDadosAgente">
      <i>
        <svg style="margin-top:15%; position: relative;" fill="#FFFFFF" height="36" viewBox="0 0 24 24" width="36" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0h24v24H0z" fill="none"/>
          <path d="M12 17c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm6-9h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6h1.9c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm0 12H6V10h12v10z"/>
        </svg>
      </i>
    </a>

    <!-- Modal Structure -->
    <div id="modalDadosAgente" class="modal" width="100" style="width:300px;" style="z-index: 9999;">
      <div class="modal-content">
        <div class="row">
          <div class="input-field col s12 ">
            <input id="password" type="password" ng-model="password" class="validate">
            <label for="password">Cd. Segurança</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a  ng-click="buscarDadosCambista(); mostrarLoader();" class=" modal-action modal-close waves-effect waves-green btn-flat">BUSCAR</a>
      </div>
    </div>

    <div class="center" style="margin-top:100px;">
      <div class="preloader-wrapper big active" ng-if=teste2>
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>

</div>


</div>
