
<div class="row">
  <div class="row " style="margin-top:55px;z-index:99999;">
    <div class="col s12 ">
      <ul class="tabs pinned width">
        <li class="tab col s6 azul"><a href="#dadosGerais" class="active"><b id="teste4">Valores Gerais</b></a></li>
        <li class="tab col s6 vermelho"><a href="#dadosParciais"><b id="teste4">Valores a Acerta</b></a></li>
      </ul>
    </div>

    <div id="dadosGerais" class="col s12" style="margin-top:65px; z-index:7777;" ng-show="teste">
      <ul ng-if="teste">
        <li><em id="texto3">&nbsp;Nome :&nbsp;</em>{{dados.com_abertas.cambista}}</li><br>
        <li><em id="texto3">&nbsp;Apostas :&nbsp;</em>{{dados.com_abertas.qtd_apostas}}</li><br>
        <li><em id="texto3">&nbsp;Qtd. Jogos :&nbsp;</em>{{dados.com_abertas.qtd_jogos}}</li><br>
        <li><em id="texto3">&nbsp;Comissão (2 jogos) :&nbsp;</em>{{dados.com_abertas.comissao_simples}}</li><br>
        <li><em id="texto3">&nbsp;Comissão (3 +) :&nbsp;</em>{{dados.com_abertas.comissao_mediana}}</li><br>
        <li><em id="texto3">&nbsp;Comissão (5 +) :&nbsp;</em>{{dados.com_abertas.comissao_maxima}}</li><br>
        <li><em id="texto3">&nbsp;Comissão Total :&nbsp;</em>{{dados.com_abertas.comissao_total}}</li><br>
        <li><em id="texto3">&nbsp;Valor Total Apostado :&nbsp;</em>{{dados.com_abertas.total_apostado}}</li><br>
        <li><em id="texto3">&nbsp;Total Premiação :&nbsp;</em>{{dados.com_abertas.total_premiacao}}</li><br>
        <li><em id="texto3">&nbsp;Líquido :&nbsp;</em>{{dados.com_abertas.liquido}}</li><br>
      </ul>
    </div>


    <div id="dadosParciais" class="col s12" style="margin-top:65px; z-index:7777;" ng-show="teste">
      <ul ng-if="teste">
        <li><em id="texto3">&nbsp;Nome :&nbsp;</em>{{dados.sem_abertas.cambista}}</li><br>
        <li><em id="texto3">&nbsp;Apostas :&nbsp;</em>{{dados.sem_abertas.qtd_apostas}}</li><br>
        <li><em id="texto3">&nbsp;Qtd. Jogos :&nbsp;</em>{{dados.sem_abertas.qtd_jogos}}</li><br>
        <li><em id="texto3">&nbsp;Comissão (2 jogos) :&nbsp;</em>{{dados.sem_abertas.comissao_simples}}</li><br>
        <li><em id="texto3">&nbsp;Comissão (3 +) :&nbsp;</em>{{dados.sem_abertas.comissao_mediana}}</li><br>
        <li><em id="texto3">&nbsp;Comissão (5 +) :&nbsp;</em>{{dados.sem_abertas.comissao_maxima}}</li><br>
        <li><em id="texto3">&nbsp;Comissão Total :&nbsp;</em>{{dados.sem_abertas.comissao_total}}</li><br>
        <li><em id="texto3">&nbsp;Valor Total Apostado :&nbsp;</em>{{dados.sem_abertas.total_apostado}}</li><br>
        <li><em id="texto3">&nbsp;Total Premiação :&nbsp;</em>{{dados.sem_abertas.total_premiacao}}</li><br>
        <li><em id="texto3">&nbsp;Líquido :&nbsp;</em>{{dados.sem_abertas.liquido}}</li><br>
        </ul>
    </div>
    <br><br><br>
    <a class="fixed-action-btn toolbar btn-floating btn-large green" data-target="modalDadosAgente">
      <i>
        <svg style="margin-top:15%; position: relative;" fill="#FFFFFF" height="36" viewBox="0 0 24 24" width="36" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0h24v24H0z" fill="none"/>
          <path d="M12 17c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm6-9h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6h1.9c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm0 12H6V10h12v10z"/>
        </svg>
      </i>
    </a>

    <!-- Modal Structure -->
    <div id="modalDadosAgente" class="modal" width="100" style="width:300px;" style="z-index: 9999;">
      <div class="modal-content">
        <div class="row">
          <div class="input-field col s12 ">
            <input id="password" type="password" ng-model="password" class="validate">
            <label for="password">Cd. Segurança</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a  ng-click="buscarDadosCambista(); mostrarLoader(); rodar();" class=" modal-action modal-close waves-effect waves-green btn-flat">BUSCAR</a>
      </div>
    </div>

    <div class="center" style="margin-top:100px;">
      <div class="preloader-wrapper big active" ng-if=teste2>
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
</div>


</div>
