<div class="row">
  <div class="row " style="margin-top:55px;">
    <div class="col s12 ">
      <ul class="tabs pinned width">
        <li class="tab col s6 azul"><a href="#tApostas" class="active"><b id="teste4">T. Apostas</b></a></li>
        <li class="tab col s6 vermelho"><a href="#ApostasVencedoras"><b id="teste4">Vencedoras</b></a></li>
      </ul>
    </div>

    <div id="tApostas" class="col s12" style="margin-top:65px;" ng-show="aux">
      <ul class="collapsible" data-collapsible="accordion" ng-controller="teste" ng-repeat="d in dadosPorAposta.apostas">
        <li >
          <div class="collapsible-header">Código Aposta:&nbsp;<em id="texto4">{{d.codigo}}</em>&nbsp;Apostador:&nbsp;<em id="texto4">{{d.apostador}}</em>&nbsp;Comissão:&nbsp;<em id="texto7">R$&nbsp;{{d.ganho}}</em></div>
          <div class="collapsible-body">
            <h6 id="textoNegrito" class="center">JOGOS APOSTADOS</h6><br>
            <div ng-repeat="j in d.jogos">
             &nbsp;&nbsp;{{toData(j.data)}}&nbsp;{{toHora(j.data)}}&nbsp;<em id="texto3">{{j.times[0].descricao_time}}&nbsp;<em id="texto7">{{j.resultado.r_casa}}</em>&nbsp;vs&nbsp;<em id="texto7">{{j.resultado.r_fora}}</em>&nbsp;{{j.times[1].descricao_time}}</em>
           </div>
           <p>Valor Apostado :&nbsp;<em id="texto4">{{d.valor_apostado}}</em>&nbsp;Retorno Possível: <em id="texto4">{{d.retorno_possivel}}</em></p>
         </div>  
       </li>
     </ul>
   </div>

   <div id="ApostasVencedoras" class="col s12" style="margin-top:65px;" ng-show="aux">
    <ul class="collapsible" data-collapsible="accordion" ng-controller="teste" ng-repeat="d in dadosPorAposta.apostas_vencedoras">
      <li >
        <div class="collapsible-header">Código Aposta:&nbsp;<em id="texto4">{{d.codigo}}&nbsp;&nbsp;</em>Apostador:&nbsp;&nbsp;<em id="texto4">{{d.apostador}}</em>&nbsp;&nbsp;Prêmio:&nbsp;<em id="texto7">R$&nbsp;{{d.premio}}</em></div>
        <div class="collapsible-body">
          <h6 id="textoNegrito" class="center">JOGOS APOSTADOS</h6><br>
          <div ng-repeat="j in d.jogos">
           &nbsp;&nbsp;{{toData(j.data)}}&nbsp;{{toHora(j.data)}}&nbsp;<em id="texto3">{{j.times[0].descricao_time}}&nbsp;<em id="texto7">{{j.resultado.r_casa}}</em>&nbsp;vs&nbsp;<em id="texto7">{{j.resultado.r_fora}}</em>&nbsp;{{j.times[1].descricao_time}}</em>
         </div>&nbsp;
       </div>   
     </li>
   </ul>
 </div>
 <br><br><br>
 <a class="fixed-action-btn toolbar btn-floating btn-large green" data-target="modalDadosApostas">
  <i>
    <svg style="margin-top:15%; position: relative;" fill="#FFFFFF" height="36" viewBox="0 0 24 24" width="36" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 0h24v24H0z" fill="none"/>
      <path d="M12 17c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm6-9h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6h1.9c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm0 12H6V10h12v10z"/>
    </svg>
  </i>
</a>

<!-- Modal Structure -->
<div id="modalDadosApostas" class="modal" width="100" style="width:300px;" style="z-index: 9999;">
  <div class="modal-content">
    <div class="row">
      <div class="input-field col s12 ">
        <input id="password" type="password" ng-model="password" class="validate">
        <label for="password">Cd. Segurança</label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a  ng-click="buscarDadosPorAposta();mostrarLoader();" class=" modal-action modal-close waves-effect waves-green btn-flat">BUSCAR</a>
  </div>
</div>

</div>

<div class="center" style="margin-top:100px;">
  <div class="preloader-wrapper big active" ng-if=aux2>
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
    <div class="circle"></div>
  </div>
</div>
</div>
</div>

</div>