<h5 class="header center" id="titulo">Chamado Emergência</h5>
<br>
<div class="row" >
  <form class="col s12" id="formChamado" name="formChamado" ng-submit="salveSubmit()">
     

    <table>  
      <tbody>
        <tr>
          <td> Capturar imagem do Acidente</td>
          <td><button  onclick="capturarImagem();" ng-disabled="!chamado.tipo" class=" waves-circle btn-floating secondary-content red"><i class="material-icons">photo_camera</i></button>
          </td>
           <td> IMpressora</td>
          <td><button  onclick="imprimirFactura();" class=" waves-circle btn-floating secondary-content red"><i class="material-icons">photo_camera</i></button>
          </td>
        </tr>
      </tbody>
    </table> 
    <div >
      <img id="htmlImagem" ng-model="chamado.img" class="responsive-img"/>
    </div>
    
  <button class="btn red" type="submit" name="action" ng-click="enviarForm(chamado)" ng-disabled="!formChamado.$valid"><a>Enviar 
   <i class="material-icons right">send</i>
   </a> 
 </button>

</form>                   
</div>


